@define-color gray #24283b;
@define-color light_gray #373B41;

@define-color black #222222;
@define-color white #ffffff;
@define-color blue #7aa2f7;
@define-color green #bbffb9;
@define-color red #f7768e;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color pink #bb9af7;
@define-color syan #01ffff;

@define-color disabled #707880;
@define-color theme #9999ff;


* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "DejaVu Sans Mono";
  font-size: 16px;
}

/* =================================== */
/* waybar整体样式 */
/* =================================== */
window#waybar {
  background-color: rgba(55, 59, 65, 0.500);
  /* background-color: @gray; */
  /* background-color: transparent; */
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 6px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#custom-logo{
  border-radius: 6px;
  background-color: @gray;
  padding:0 9px;
  font-size:20px;
  margin-right:5px;
  color:@red;
}


/* =================================== */
/* 工作区域tag */
/* =================================== */
#workspaces {
  padding: 0 9px;
  border-radius: 6px;
  background-color: @gray;

}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  padding: 9px;
  border-bottom: 3px solid transparent;
}

/* 每个窗口当有内容时tag的颜色 */
#workspaces button:nth-child(1) {
  color: @blue;
}

#workspaces button:nth-child(2) {
  color: @pink;
}

#workspaces button:nth-child(3) {
  color: @red;
}

#workspaces button:nth-child(4) {
  color: @green;
}

#workspaces button:nth-child(5) {
  color: @yellow;
}

#workspaces button:nth-child(6) {
  color: @syan;
}

#workspaces button:nth-child(7) {
  color: @orange;
}

#workspaces button:nth-child(8) {
  color: @white;

}

#workspaces button:nth-child(9) {
  color: @white;

}

#workspaces button:nth-child(10) {
  color: @white;

}

/* 当前窗口tag样式 */
#workspaces button.active {
  background-color: @light_gray;
}

#workspaces button.active:nth-child(1) {
  border-bottom: 3px solid @blue;
}

#workspaces button.active:nth-child(2) {
  border-bottom: 3px solid @pink;

}

#workspaces button.active:nth-child(3) {
  border-bottom: 3px solid @red;
}

#workspaces button.active:nth-child(4) {
  border-bottom: 3px solid @green;
}

#workspaces button.active:nth-child(5) {
  border-bottom: 3px solid @yellow;
}

#workspaces button.active:nth-child(6) {
  border-bottom: 3px solid @syan;
}

#workspaces button.active:nth-child(7) {
  border-bottom: 3px solid @orange;

}

#workspaces button.active:nth-child(8) {
  border-bottom: 3px solid @white;

}

#workspaces button.active:nth-child(9) {
  border-bottom: 3px solid @white;

}

#workspaces button.active:nth-child(10) {
  border-bottom: 3px solid @white;

}

/* 鼠标选择时候的样式 */
#workspaces button:hover {
  background-color: @light_gray;
  border-bottom: 3px solid @disabled;

}

#workspaces button.empty.active {
  color: @disabled;
  border-bottom: 3px solid @disabled;

}

/* 空tag的样式 */
#workspaces button.empty {
  color: @disabled;
}

/* 空tag的样式 */


/* 有新提示内容的tag */
#workspaces button.urgent {
  background-color: @light_gray;
  color:@red;
  border-bottom: 3px solid @red;
}

/* =================================== */
/* 时间 */
/* =================================== */

#clock {
  border-radius: 6px;
  font-family: JetBrainsMono Nerd Font;
  background-color: #cba6f7;
  color: @white;
  background-color: transparent;
  margin: 0px 3px;
  padding: 0px 12px;
  font-size: 16px;
}


/* =================================== */
/* 工作区域tag */
/* =================================== */
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#battery,
#tray,
#custom-power {
  border-radius: 6px;
  /* margin: 0px 3px; */
  padding: 0px 12px;
  color: @gray;
  margin-left:6px;
  background-color: @gray;

}



#cpu {
  /* background-color: #fab387; */
  color: @blue;
}

#memory {
  color: @green;
  /* background-color: #fab387; */
}


#battery {
  /* background-color: #f38ba8; */
  color: @theme;
}


#backlight {
  /* background-color: #fab387; */
  color: @yellow;
}

#pulseaudio {
  /* background-color: #f9e2af; */
  color: @orange;

}

#network {
  /* background-color: #94e2d5; */
  color: #94e2d5;
  padding-right: 17px;
}



#tray {
  border-radius: 6px;
  background-color: @gray ;
  padding-left: 9px;
}

#custom-power {
  /* background-color: #f2cdcd; */
  color: @red;
  background-color: @gray;
  padding-right: 9px;
  border-radius: 0px 6px 6px 0px;


}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: @gray;
  color: @white;
  border:2px solid @red ; 
}



tooltip label {
  padding: 5px;
  background-color: #131822;
  background-color: @gray;
  color: @white;
}